
/*======== Itens da NavBar ==========*/

.item_list {
    color: var(--second_color);
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
}

.item_list:hover {
    color: var(--color_letters);
}

.menu_toggle {
    padding: 20px;
    display: none;
    font-size: 50px;
    background: none;
    border: none;
    color: var(--color_letters_second);
    font-weight: bolder;
}

/*========== Itens da Initial Section =========*/

.img_inicial {
    margin: 0 30px;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 4px 100px black;
}

.icon {
    max-width: 30px;
    height: auto;
    object-fit: cover;
}

/*========== Itens da About Me Section =========*/

.title {
    margin: 50px;
    color: var(--second_color);
    font-size: 30px;
}

.about_me_section p {
    text-align: justify;
}

.about_me_technologies {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about_me_technologies ul {
    list-style: none;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about_me_technologies li {
    background-color: var(--second_color);
    color: var(--color_letters_second);
    box-shadow: 0 4px 10px black;

    padding: 8px 12px;

    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;

    display: flex;
    gap: 10px;
}

.about_me_technologies li img {
    max-width: 20px;
    height: auto;
}

/*========== Itens da Projects Section =========*/

.content_project {
    max-width: 350px;
    padding: 20px;

    text-align: justify;
    border: 5px solid var(--second_color);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects_section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.btns_repository {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.projects_section a {
    padding: 10px 0;
    width: 130px;

    background-color: var(--second_color);
    color: var(--color_letters);

    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

/*============= Contato Section =============*/

.btns_redes {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.btns_redes a {
    width: 200px;
    height: 50px;

    padding: 10px 5px;
    text-decoration: none;

    color: var(--color_letters_second);
    background-color: var(--second_color);

    border-radius: 8px;
    box-shadow: 0 4px 20px black;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
