@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --first_color: rgb(31, 30, 30);
    --second_color: rgb(247, 61, 61);
    --color_letters: white;
    --color_letters_second: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    color: var(--color_letters);
    height: 100vh;
    background-color: var(--first_color);
}

.nav_bar {  /* conteiner da nav bar, o header */
    width: 100%;
}

.list_nav {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.item_list {
    color: var(--second_color);
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

.item_list:hover {
    color: var(--color_letters);
}

/*=================== Initial Section ================*/

.initial_section {     /* container das informações iniciais. */
    margin: 100px 50px;
    margin-bottom: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial_section article {
    padding: 0 100px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}

h1 {
    font-size: 40px;
}

.initial_content p {
    text-align: justify;
    font-size: 18px;
}

.btns_redes {
    margin: 30px 0;
    display: flex;
    gap: 60px;
}

.btns_redes a {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color_letters_second);
    background-color: var(--second_color);
    border-radius: 8px;
    box-shadow: 0 4px 20px black;
    font-weight: bold;
}

.icon {
    max-width: 30px;
}

.img_inicial {
    margin: 0 30px;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 4px 100px black;
}

/*=================== About Me Section ======================*/

.about_me_section {
    text-align: center;
    margin: 150px 200px;
}

.title {
    margin: 50px;
    color: var(--second_color);
    font-size: 30px;
}

.about_me_content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about_me_content p {
    text-align: justify;
}

.about_me_technologies {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about_me_technologies ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about_me_technologies ul li {
    background-color: var(--second_color);
    color: var(--color_letters_second);
    box-shadow: 0 4px 10px black;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.about_me_technologies ul li img {
    max-width: 20px;
}

/*===================== Projects Section =====================*/

.projects_section {
    text-align: center;
    margin: 150px 100px;
}

.projects_section article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.content_project {
    max-width: 350px;
    padding: 20px;
    text-align: justify;
    border: 5px solid var(--second_color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects_section div img {
    max-width: 300px;
    height: 150px;
    border-radius: 10px;
}

.btns_repository {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.projects_section div a {
    text-decoration: none;
    color: var(--color_letters);
    width: 130px;
    text-align: center;
    font-weight: bold;
    background-color: var(--second_color);
    padding: 10px 0;
    border-radius: 5px;
}

/*============================================================*/

footer {
    width: 100%;
    background-color: var(--second_color);
    color: var(--color_letters_second);
    font-weight: bold;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}